#text1 {
  display: flex;
  font-size: 30px;
}

BODY {background-color: gainsboro;
display: flex;
  justify-content: center;  
  align-items: center;  }
#tile-container {
  
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 0; 
  width: 500px; 
  height: 500px;
}

#tile-container img {
  width: 50px;
  height: 50px;
  object-fit: cover; 
}


