#text1 {
  display: flex;
  font-size: 30px;
}

BODY {background-color: gainsboro;
display: flex;
  justify-content: center;  
  align-items: center;  }
#tile-container {
  
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 0; 
  width: 500px; 
  height: 500px;
}

#tile-container img {
  width: 50px;
  height: 50px;
  object-fit: cover; 
}


#expand {padding-left: 400px;}
.expand-text {
    height: 50px;
    overflow: hidden;
    width: 300px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.234);
    margin: 20px;
}

.less {}

.expand-text.more {
    height: auto;
    overflow: visible;
}

.expand-text span {
    cursor: pointer;
    color: darkviolet;
}
