#creature-form DIV {
    margin-bottom: 10px;
}

#creature-list>DIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-body {
    background: pink;
    justify-content: center;
    align-items: left;
    display: flex;
    width: 
    height: 50px;

  transform: translateX(0); 
  /* Apply the transition property */
  transition: transform 1s ease-in; 
}

.ease-in-box:hover {
  /* Target state on hover */
  transform: translateX(200px); 
}


.eye { height: 100px; width: 80px; border: 3px solid #bababa; border-radius: 10px; background: #fff;
border-style: groove;

}