#horse1{
    width: 250px;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
}
#horse2{
    width: 250px;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
}
#horse3{
    width: 250px;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
}
#h1{padding-left: 250px;}

#glasses {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    
}

#glasses .lens { 
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    background: green;
}

#glasses .bridge {
    width: 10px;
    height: 5px;
    background: black;
}

#glasses2 {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    
}

#glasses2 .lens { 
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

#glasses2 .bridge {
    width: 10px;
    height: 5px;
    background: rgb(255, 0, 0);
}

#reset {
    
    align-items: center;

}